/* 

COLORS:
light blue: #8e9efc
medium blue:#5a73fc
dark blue:#1c3eff

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px; 
}
.ten {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 6rem;
  margin-top: 7%;
  text-align: center;
  animation: moveInBottom 3s ease-out; 
  animation-iteration-count: infinite; 
}

.ten1 {
  position: relative;
  text-align: center;
  top: -10rem;
  font-size: 6rem;
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;
    box-sizing: border-box;
} 

header {
    background-image:linear-gradient(to right bottom, rgba(49, 80, 255, 0.6), rgba(245, 22, 78, 0.6)), url(../image/anh2.jpg);
    background-size: cover;
    position: relative;
    height: 95vh;
    padding: 5rem;
    background-position:center center;
    background-repeat: no-repeat;
} 
.hearder_text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.hearder_logo {
    height: 7rem;
    width: 7rem;
    margin-top: 0.5rem;
    border-radius: 50%;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem; 
    width: 100%;
    /* animation-name: animationtest;
    animation-duration: 2s;*/
    /* animation-iteration-count: infinite; */
}
    /* .heading-primary--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: moveInLeft 1.5s ease-out; }
    .heading-primary--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1rem;
        animation: moveInRight 1.5s ease-out; } */

    .btn, .btn:link, .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-size: 1.6rem;
        position: relative; 
    }
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 2rem rgba(97, 8, 240, 0.76); }
    
    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(154, 22, 230, 0.726); }
    
    .photo_1 {
      margin-left: 23%;
      height: 20rem;
    }
    .photo_1:hover {
      /* outline: 1rem solid #4b38f3; */
      transform: scale(1.5);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7); 
    }

    .paragraph {
      padding: 20px;
      font-size: 2rem;
      justify-content: center;
    }
    .btn--white {
        color: #777777; 
        background-color: #fff; 
    }
    /* @keyframes moveInLeft {
        0% {
          opacity: 0;
          transform: translateX(-10rem); }
        80% {
          transform: translateX(1rem);
          color: rgba(255, 154, 1, 0.8); }
        100% {
          opacity: 1;
          transform: translateX(0); } }
      
    @keyframes moveInRight {
        0% {
          opacity: 0;
          transform: translateX(10rem); }
        80% {
          transform: translateX(-1rem);
          color: rgba(255, 154, 1, 0.8); }
        100% {
          opacity: 1;
          transform: translateX(0); } } */
      @keyframes moveInBottom {
          0% {
            opacity: 0;
            transform: translateY(5rem);}
          100% {
            opacity: 1;
            transform: translateY(0); } 
          }
.row {
    max-width: 114rem;
    margin: 0 auto;}
    .row::after {
        content: "";
        display: table;
        clear: both; }
    .row:not(:last-child) {
        margin-bottom: 8rem; }
    .row[class^="col"] {
        background-color: yellow;
            float: left; }
    .row[class^="col-"]:not(:last-child) {
             margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem)/ 2); }
    .row .col-1-of-3 {
      width: calc(100% / 3) }
    .row .col-2-of-3 {
      width: calc(2*((100% - 2*6rem) / 3) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3*6rem) / 4); }
    .row .col-2-of-4 {
      width: calc(1*((100% - 3*6rem) / 2) + 6rem); }
    .row .col-3-of-4 {
      width: calc(3*((100% - 3*6rem) / 4) + 2*6rem); }



.section-about {
    padding: 20rem 0;
    margin-top: -15rem;  
}

.section-skills {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(255, 224, 49, 0.8), rgba(240, 69, 121, 0.8));
    background-size: cover;
    position: relative;
    margin-top: 20px;
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); } */
}

.section-testimonials {
  position: relative;
  padding: 5rem 0; }
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to right, #ffe031, #f04579);
    color: transparent;
    -webkit-background-clip: text;
    transition: all .2s; }
    .heading-secondary:hover {
        transform: skewX(-20deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgb(153, 3, 253,0.5); }

.heading-tertiary {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; 
    background-image:linear-gradient(to right, #ffe031, #ff004c);
    color: transparent;
    -webkit-background-clip: text;}

.u-center-text {
    text-align: center !important; }
      
.u-margin-bottom-big {
    margin-bottom: 8rem !important; }

.u-margin-bottom-small {
        margin-bottom: 1.5rem !important; }


 
.skill-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    text-align: center;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .3s; }
    .skill-box__icon {
      font-size: 6rem;
      margin-bottom: 1.5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #ffe031, #f04579);
      -webkit-background-clip: text;
      color: transparent; }
    .skill-box:hover {
      cursor: pointer;
      transform: translateY(-1.5rem) scale(1.1); }
  
.skill-icon {
    width: 50%; }
.section-courses {
    background-color: #f7f7f7;
    padding: 25rem 0 10rem 0;
    margin-top: -20rem; }

    .navigation__checkbox {
        display: none; }
      
      .navigation__button {
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 5.5rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
 }
      
      .navigation__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(#ff00f2, #0003c6);
        z-index: 1000;
        transition: transform .8s; }
      
      .navigation__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s; }
      
      .navigation__list {
        /* margin: 20% auto; */
        margin: 30rem auto;
        list-style: none;
        text-align: center; }
      
      .navigation__item {
        margin: 1rem; }
      
      .navigation__link:link, .navigation__link:visited {
        display: inline-block;
        border-radius: 4rem;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-image: radial-gradient(150% 200% ellipse at 115%, #fff 0%, #fff 50%, transparent 50%);
        background-size: 252%;
        transition: all .4s; }
      
      .navigation__link:hover, .navigation__link:active {
        background-position: 100%;
        color: #f37d38;
        transform: translateX(1rem); }
      
      .navigation__checkbox:checked ~ .navigation__background {
        transform: scale(80); }
      
      .navigation__checkbox:checked ~ .navigation__nav {
        opacity: 1;
        width: 100%; }
      
      .navigation__icon {
        position: relative;
        margin-top: 3.2rem; }
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 3.5rem;
          height: .3rem;
          background-color: #777777;
          display: inline-block;
          transition: all .4s; }
        .navigation__icon::before, .navigation__icon::after {
          content: "";
          position: absolute;
          left: 0; }
        .navigation__icon::before {
          top: -.8rem; }
        .navigation__icon::after {
          top: .8rem; }
      
      .navigation__button:hover .navigation__icon::before {
        top: -1rem; }
      .navigation__button:hover .navigation__icon::after {
        top: 1rem; }
      
      .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        transform: rotate(135deg); }
      
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0;
        transform: rotate(-135deg); }
      .pt-4, .py-4 {
          padding-top: 1.5rem!important;
}
.footer {
  padding: 5rem 0;
  font-size: 1.5rem;
}

@media (min-width: 375px) and (max-width: 540px){
  .header{
    background-position: 30% 30%;
  }
  .heading-primary--main {
      font-size: 4rem;
  }
  .row .col-1-of-3 {
    width: 100%;
    margin: 20px 20px;
  }
  .skill-box {
    margin: 10px auto;
    width: 80%;
  }
  .col {
    flex-basis: auto;
  }
  
  .skill-box_text {
    font-size: 1.2rem;
  }
  .photo_1{
    margin-top: 15%;
    margin-left: 25%;
  }
  .heading-tertiary {
    font-size: 3rem;
  }
  .paragraph {
    font-size: 2rem;
  }
  .ten1 {
    font-size: 5rem;
    }
}
@media (min-width: 540px) and (max-width: 720px){
    .ten1 {
      font-size: 4rem;
      }
    .heading-primary--main {
      font-size: 4.5rem;
    }
    .photo_1 {
      margin-left: 32%;
      width: 20rem;
      height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .paragraph {
    margin-left: 2rem;
  }
  .photo_1 {
      width: 20rem;
      height: 20rem;
      margin-left: 11%;
    }   
}
@media (min-width: 1024px) and (max-width: 1366px){
    .photo_1 {
      width: 20rem;
      height: 20rem;
      margin-left: 20%;
  }
}

@media (max-width:600px){
  .ten {
    font-size: 4.5rem;
  }
}